body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Segoe UI', Arial, sans-serif;
}

#app {
    width: 100%;
    height: 100dvh;
    /* FULLSCREEN HP */
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .9), transparent);
}


/* TOP */

.top {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 5;
}

.profile {
    display: flex;
    gap: 8px;
}

.avatarBox {
    position: relative;
    width: 50px;
    height: 50px;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

.follow {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: blue;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid white;
}

#name {
    color: red;
    font-size: 14px;
}

.viewer {
    background: rgba(0, 0, 0, 0.253);
    padding: 5px 12px;
    height: 22px;
    border-radius: 50px;
}

.vip {
    color: cyan;
    font-size: 12px;
}

/* COIN */

.coin {
    position: absolute;
    top: 90px;
    left: 10px;
    background: rgba(0, 0, 0, 0.253);
    padding: 6px 10px;
    border-radius: 10px;
    color: white;
}


/* CHAT */

#chat {
    position: absolute;
    bottom: 80px;
    left: 10px;
    z-index: 5;
}

.chat {
    background: rgba(0, 0, 0, 0.116);
    color: white;
    padding: 5px 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    font-size: 13px;
}

.male {
    color: yellow;
    font-weight: bold;
}

/* LIKE */

#like-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.like {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    animation: floatUp 3s linear forwards;
    color: red;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-300px) scale(1.5);
        opacity: 0;
    }
}

/* GIFT */

.gift {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 160px;
    font-size: 60px;
    animation: pop 2s forwards;
}

@keyframes pop {
    0% {
        opacity: 0;
        scale: .4
    }

    50% {
        opacity: 1;
        scale: 1.6
    }

    100% {
        opacity: 0
    }
}


/* SPARKLE */

.spark {
    position: absolute;
    color: gold;
    font-size: 20px;
    animation: spark 1s linear forwards;
}

@keyframes spark {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: translateY(-80px)
    }
}


/* JOIN */

.join {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 1, 1, 0.315);
    color: white;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 13px;
}


/* BOTTOM */

.bottom {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;
    display: flex;
    gap: 8px;
    padding: 10px;
}

.chatBtn {
    flex: 1;
    background: rgba(0, 0, 0, 0.253);
    color: white;
}

.shareBtn {
    width: 40px;
    background: rgb(0, 255, 34);
}

.giftBtn {
    width: 40px;
    background: gold;
}

.likeBtn {
    width: 40px;
    background: pink;
}

.nextBtn {
    width: 40px;
    background: orangered;
}

.btn {
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}